button {
    color: #FFFFFF;
    font-size: 16pt;
    margin: 12px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.default-button-style {
    background-color: #007bff;
}

#danger-btn {
    background-color:#FF0000;
    border: 2px solid #6d0000;
}

.green-bg {
    background-color:#28a745;
    color: white;
}

.extra-padding {
    padding: 15px 25px;
}

#new-button {
    background-color: #FFC107;
    color: #000000;
}